USE [master]
GO
/****** Object:  Database [TLU_Library_DEV]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE DATABASE [TLU_Library_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TLU_Library_DEV', FILENAME = N'D:\SQLserver\MSSQL17.SQLEXPRESS\MSSQL\DATA\TLU_Library_DEV.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TLU_Library_DEV_log', FILENAME = N'D:\SQLserver\MSSQL17.SQLEXPRESS\MSSQL\DATA\TLU_Library_DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TLU_Library_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TLU_Library_DEV]
GO
/****** Object:  UserDefinedTableType [dbo].[BorrowItemList]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE TYPE [dbo].[BorrowItemList] AS TABLE(
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ReturnItemList]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE TYPE [dbo].[ReturnItemList] AS TABLE(
	[BorrowDetailId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Condition] [varchar](20) NOT NULL,
	[Fine] [decimal](12, 2) NOT NULL DEFAULT ((0))
)
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [varchar](20) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Categories_Code] UNIQUE NONCLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookCode] [varchar](30) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](150) NOT NULL,
	[Publisher] [nvarchar](150) NULL,
	[PublishYear] [int] NULL,
	[CategoryId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AvailableQty] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Books_Code] UNIQUE NONCLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BookOverview]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================================================
   KHỐI 6: VIEW (báo cáo + dashboard)
   ============================================================================= */

-- 6.1 Tổng quan sách (kèm danh mục)
CREATE   VIEW [dbo].[vw_BookOverview] AS
SELECT  b.BookId, b.BookCode, b.Title, b.Author, b.Publisher, b.PublishYear,
        b.CategoryId, 
        c.CategoryName,
        b.Quantity, b.AvailableQty,
        (b.Quantity - b.AvailableQty) AS BorrowedQty,
        b.Price, b.Status
FROM dbo.Books b
JOIN dbo.Categories c ON c.CategoryId = b.CategoryId
WHERE b.IsDeleted = 0;
GO
/****** Object:  Table [dbo].[Readers]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readers](
	[ReaderId] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [varchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[CardIssueDate] [date] NOT NULL,
	[CardExpireDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_Readers] PRIMARY KEY CLUSTERED 
(
	[ReaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Readers_Card] UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowReceipts]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowReceipts](
	[BorrowId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptCode] [varchar](30) NOT NULL,
	[ReaderId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[BorrowDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[TotalFine] [decimal](12, 2) NOT NULL,
	[RenewCount] [int] NOT NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_BorrowReceipts] PRIMARY KEY CLUSTERED 
(
	[BorrowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BorrowReceipts_Code] UNIQUE NONCLUSTERED 
(
	[ReceiptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowReceiptDetails]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowReceiptDetails](
	[BorrowDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BorrowId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReturnedQty] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_BorrowDtl] PRIMARY KEY CLUSTERED 
(
	[BorrowDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BorrowDtl_BookOnce] UNIQUE NONCLUSTERED 
(
	[BorrowId] ASC,
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[PasswordSalt] [varchar](128) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FailedLoginCount] [int] NOT NULL,
	[LockoutUntil] [datetime2](0) NULL,
	[LastLoginAt] [datetime2](0) NULL,
	[LastLoginIp] [varchar](45) NULL,
	[PasswordChangedAt] [datetime2](0) NULL,
	[MustChangePassword] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BorrowSummary]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.2 Tổng hợp phiếu mượn
CREATE   VIEW [dbo].[vw_BorrowSummary] AS
SELECT  br.BorrowId, br.ReceiptCode,
        r.CardNumber, r.FullName AS ReaderName,
        u.FullName AS LibrarianName,
        br.BorrowDate, br.DueDate, br.Status, br.TotalFine,
        SUM(d.Quantity)                  AS TotalBooks,
        SUM(d.Quantity - d.ReturnedQty)  AS NotReturnedYet
FROM dbo.BorrowReceipts br
JOIN dbo.Readers r              ON r.ReaderId = br.ReaderId
JOIN dbo.Users u                ON u.UserId   = br.UserId
JOIN dbo.BorrowReceiptDetails d ON d.BorrowId = br.BorrowId
WHERE br.IsDeleted = 0
GROUP BY br.BorrowId, br.ReceiptCode, r.CardNumber, r.FullName,
         u.FullName, br.BorrowDate, br.DueDate, br.Status, br.TotalFine;
GO
/****** Object:  View [dbo].[vw_OverdueBorrows]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.3 Phiếu mượn quá hạn
CREATE   VIEW [dbo].[vw_OverdueBorrows] AS
SELECT  br.BorrowId, br.ReceiptCode, r.CardNumber, r.FullName AS ReaderName,
        r.Phone, r.Email,
        br.BorrowDate, br.DueDate,
        DATEDIFF(DAY, br.DueDate, CAST(SYSUTCDATETIME() AS DATE)) AS DaysOverdue,
        br.Status, br.TotalFine
FROM dbo.BorrowReceipts br
JOIN dbo.Readers r ON r.ReaderId = br.ReaderId
WHERE br.IsDeleted = 0
  AND br.Status IN ('Borrowing','PartiallyReturned','Overdue')
  AND br.DueDate < CAST(SYSUTCDATETIME() AS DATE);
GO
/****** Object:  View [dbo].[vw_TopBorrowedBooks]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.4 Top sách mượn nhiều nhất
CREATE   VIEW [dbo].[vw_TopBorrowedBooks] AS
SELECT TOP (100) b.BookId, b.BookCode, b.Title, b.Author,
       c.CategoryName,
       SUM(d.Quantity) AS TotalBorrowed,
       COUNT(DISTINCT br.ReaderId) AS UniqueReaders
FROM dbo.BorrowReceiptDetails d
JOIN dbo.BorrowReceipts br ON br.BorrowId = d.BorrowId AND br.IsDeleted = 0
JOIN dbo.Books b           ON b.BookId    = d.BookId
JOIN dbo.Categories c      ON c.CategoryId = b.CategoryId
GROUP BY b.BookId, b.BookCode, b.Title, b.Author, c.CategoryName
ORDER BY TotalBorrowed DESC;
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[ReaderId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[ReservedAt] [datetime2](0) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[FulfilledAt] [datetime2](0) NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenaltyHistory]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenaltyHistory](
	[PenaltyId] [int] IDENTITY(1,1) NOT NULL,
	[BorrowId] [int] NOT NULL,
	[ReaderId] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[PaidAt] [datetime2](0) NULL,
	[CollectedBy] [int] NULL,
	[PaymentMethod] [varchar](20) NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_PenaltyHistory] PRIMARY KEY CLUSTERED 
(
	[PenaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Dashboard_KPI]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.5 KPI dashboard (load 1 lần khi mở dashboard)
CREATE   VIEW [dbo].[vw_Dashboard_KPI] AS
SELECT
    (SELECT COUNT(*) FROM dbo.Books   WHERE IsDeleted = 0 AND Status <> 'Retired')             AS TotalBooks,
    (SELECT ISNULL(SUM(Quantity),0)     FROM dbo.Books WHERE IsDeleted = 0)                    AS TotalCopies,
    (SELECT ISNULL(SUM(Quantity - AvailableQty),0) FROM dbo.Books WHERE IsDeleted = 0)         AS TotalBorrowedNow,
    (SELECT COUNT(*) FROM dbo.Readers WHERE IsDeleted = 0 AND Status = 'Active')               AS ActiveReaders,
    (SELECT COUNT(*) FROM dbo.BorrowReceipts
        WHERE IsDeleted = 0 AND Status IN ('Borrowing','PartiallyReturned'))                   AS ActiveBorrows,
    (SELECT COUNT(*) FROM dbo.BorrowReceipts
        WHERE IsDeleted = 0 AND Status = 'Overdue')                                            AS OverdueBorrows,
    (SELECT ISNULL(SUM(Amount),0) FROM dbo.PenaltyHistory
        WHERE PaidAt >= DATEADD(DAY,-30, SYSUTCDATETIME()))                                    AS FineRevenue30d,
    (SELECT COUNT(*) FROM dbo.Reservations WHERE Status = 'Pending')                           AS PendingReservations;
GO
/****** Object:  View [dbo].[vw_Dashboard_BorrowTrend]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.6 Xu hướng mượn 30 ngày gần nhất (line chart)
CREATE   VIEW [dbo].[vw_Dashboard_BorrowTrend] AS
SELECT TOP (30)
       br.BorrowDate,
       COUNT(DISTINCT br.BorrowId)   AS Receipts,
       SUM(d.Quantity)               AS Books
FROM dbo.BorrowReceipts br
JOIN dbo.BorrowReceiptDetails d ON d.BorrowId = br.BorrowId
WHERE br.IsDeleted = 0
  AND br.BorrowDate >= DATEADD(DAY,-30, CAST(SYSUTCDATETIME() AS DATE))
GROUP BY br.BorrowDate
ORDER BY br.BorrowDate DESC;
GO
/****** Object:  View [dbo].[vw_Dashboard_CategoryDistribution]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.7 Phân bố sách theo danh mục (pie chart)
CREATE   VIEW [dbo].[vw_Dashboard_CategoryDistribution] AS
SELECT c.CategoryName,
       COUNT(b.BookId)             AS TitleCount,
       ISNULL(SUM(b.Quantity),0)   AS CopyCount,
       ISNULL(SUM(b.Quantity - b.AvailableQty),0) AS BorrowedCount
FROM dbo.Categories c
LEFT JOIN dbo.Books b ON b.CategoryId = c.CategoryId AND b.IsDeleted = 0
WHERE c.IsActive = 1 AND c.IsDeleted = 0
GROUP BY c.CategoryName;
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [varchar](50) NOT NULL,
	[EntityType] [varchar](50) NOT NULL,
	[EntityId] [varchar](50) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IpAddress] [varchar](45) NULL,
	[UserAgent] [nvarchar](300) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[RecipientType] [varchar](20) NOT NULL,
	[RecipientId] [int] NOT NULL,
	[NotifyType] [varchar](30) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ReadAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [varchar](50) NOT NULL,
	[Module] [varchar](30) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Permissions_Code] UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnReceiptDetails]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnReceiptDetails](
	[ReturnDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReturnId] [int] NOT NULL,
	[BorrowDetailId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Condition] [varchar](20) NOT NULL,
	[Fine] [decimal](12, 2) NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_ReturnDtl] PRIMARY KEY CLUSTERED 
(
	[ReturnDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnReceipts]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnReceipts](
	[ReturnId] [int] IDENTITY(1,1) NOT NULL,
	[ReturnCode] [varchar](30) NOT NULL,
	[BorrowId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[TotalFine] [decimal](12, 2) NOT NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_ReturnReceipts] PRIMARY KEY CLUSTERED 
(
	[ReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ReturnReceipts_Code] UNIQUE NONCLUSTERED 
(
	[ReturnCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[GrantedAt] [datetime2](0) NOT NULL,
	[GrantedBy] [int] NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](20) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [int] NULL,
	[RowVer] [timestamp] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_Code] UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [varchar](50) NOT NULL,
	[SettingValue] [nvarchar](500) NOT NULL,
	[DataType] [varchar](20) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Audit_Entity_Date]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Audit_Entity_Date] ON [dbo].[AuditLogs]
(
	[EntityType] ASC,
	[EntityId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Audit_User_Date]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Audit_User_Date] ON [dbo].[AuditLogs]
(
	[UserId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Author]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_Author] ON [dbo].[Books]
(
	[Author] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Search]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_Search] ON [dbo].[Books]
(
	[IsDeleted] ASC,
	[Status] ASC,
	[CategoryId] ASC
)
INCLUDE([BookCode],[Title],[Author],[AvailableQty],[Quantity]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Status]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_Status] ON [dbo].[Books]
(
	[Status] ASC
)
WHERE ([Status]<>'Retired' AND [IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Title]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Books_Title] ON [dbo].[Books]
(
	[Title] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BorrowDtl_BookId]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_BorrowDtl_BookId] ON [dbo].[BorrowReceiptDetails]
(
	[BookId] ASC
)
INCLUDE([Quantity],[ReturnedQty]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Borrow_BorrowDate]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Borrow_BorrowDate] ON [dbo].[BorrowReceipts]
(
	[BorrowDate] DESC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Borrow_DueDate]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Borrow_DueDate] ON [dbo].[BorrowReceipts]
(
	[DueDate] ASC,
	[Status] ASC
)
WHERE ([Status] IN ('Borrowing', 'PartiallyReturned'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Borrow_Reader_Status_Date]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Borrow_Reader_Status_Date] ON [dbo].[BorrowReceipts]
(
	[ReaderId] ASC,
	[Status] ASC,
	[BorrowDate] DESC
)
INCLUDE([ReceiptCode],[DueDate],[TotalFine]) 
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Borrow_Status]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Borrow_Status] ON [dbo].[BorrowReceipts]
(
	[Status] ASC
)
WHERE ([Status] IN ('Borrowing', 'Overdue', 'PartiallyReturned'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notif_Recipient_Unread]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notif_Recipient_Unread] ON [dbo].[Notifications]
(
	[RecipientType] ASC,
	[RecipientId] ASC,
	[IsRead] ASC
)
INCLUDE([CreatedAt],[Title]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Penalty_PaidAt]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Penalty_PaidAt] ON [dbo].[PenaltyHistory]
(
	[PaidAt] DESC
)
WHERE ([PaidAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Readers_FullName]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Readers_FullName] ON [dbo].[Readers]
(
	[FullName] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Readers_Phone]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Readers_Phone] ON [dbo].[Readers]
(
	[Phone] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservations_Book_Status]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Book_Status] ON [dbo].[Reservations]
(
	[BookId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Return_ReturnDate]    Script Date: 5/16/2026 11:25:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Return_ReturnDate] ON [dbo].[ReturnReceipts]
(
	[ReturnDate] DESC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_Audit_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_AvailableQty]  DEFAULT ((0)) FOR [AvailableQty]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Status]  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BorrowReceiptDetails] ADD  CONSTRAINT [DF_BorrowDtl_Qty]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[BorrowReceiptDetails] ADD  CONSTRAINT [DF_BorrowDtl_RetQty]  DEFAULT ((0)) FOR [ReturnedQty]
GO
ALTER TABLE [dbo].[BorrowReceipts] ADD  CONSTRAINT [DF_Borrow_Date]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[BorrowReceipts] ADD  CONSTRAINT [DF_Borrow_Status]  DEFAULT ('Borrowing') FOR [Status]
GO
ALTER TABLE [dbo].[BorrowReceipts] ADD  CONSTRAINT [DF_Borrow_Fine]  DEFAULT ((0)) FOR [TotalFine]
GO
ALTER TABLE [dbo].[BorrowReceipts] ADD  CONSTRAINT [DF_Borrow_Renew]  DEFAULT ((0)) FOR [RenewCount]
GO
ALTER TABLE [dbo].[BorrowReceipts] ADD  CONSTRAINT [DF_Borrow_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowReceipts] ADD  CONSTRAINT [DF_Borrow_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notif_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notif_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PenaltyHistory] ADD  CONSTRAINT [DF_Penalty_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Readers] ADD  CONSTRAINT [DF_Readers_Issue]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [CardIssueDate]
GO
ALTER TABLE [dbo].[Readers] ADD  CONSTRAINT [DF_Readers_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Readers] ADD  CONSTRAINT [DF_Readers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Readers] ADD  CONSTRAINT [DF_Readers_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Res_ReservedAt]  DEFAULT (sysutcdatetime()) FOR [ReservedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Res_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] ADD  CONSTRAINT [DF_RetDtl_Cond]  DEFAULT ('Good') FOR [Condition]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] ADD  CONSTRAINT [DF_RetDtl_Fine]  DEFAULT ((0)) FOR [Fine]
GO
ALTER TABLE [dbo].[ReturnReceipts] ADD  CONSTRAINT [DF_Return_Date]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[ReturnReceipts] ADD  CONSTRAINT [DF_Return_Fine]  DEFAULT ((0)) FOR [TotalFine]
GO
ALTER TABLE [dbo].[ReturnReceipts] ADD  CONSTRAINT [DF_Return_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReturnReceipts] ADD  CONSTRAINT [DF_Return_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [DF_RP_GrantedAt]  DEFAULT (sysutcdatetime()) FOR [GrantedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_Setting_DataType]  DEFAULT ('string') FOR [DataType]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Failed]  DEFAULT ((0)) FOR [FailedLoginCount]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_MustChg]  DEFAULT ((0)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[BorrowReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_BorrowDtl_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BorrowReceiptDetails] CHECK CONSTRAINT [FK_BorrowDtl_Books]
GO
ALTER TABLE [dbo].[BorrowReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_BorrowDtl_Receipt] FOREIGN KEY([BorrowId])
REFERENCES [dbo].[BorrowReceipts] ([BorrowId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BorrowReceiptDetails] CHECK CONSTRAINT [FK_BorrowDtl_Receipt]
GO
ALTER TABLE [dbo].[BorrowReceipts]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Readers] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Readers] ([ReaderId])
GO
ALTER TABLE [dbo].[BorrowReceipts] CHECK CONSTRAINT [FK_Borrow_Readers]
GO
ALTER TABLE [dbo].[BorrowReceipts]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[BorrowReceipts] CHECK CONSTRAINT [FK_Borrow_Users]
GO
ALTER TABLE [dbo].[PenaltyHistory]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Borrow] FOREIGN KEY([BorrowId])
REFERENCES [dbo].[BorrowReceipts] ([BorrowId])
GO
ALTER TABLE [dbo].[PenaltyHistory] CHECK CONSTRAINT [FK_Penalty_Borrow]
GO
ALTER TABLE [dbo].[PenaltyHistory]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_Reader] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Readers] ([ReaderId])
GO
ALTER TABLE [dbo].[PenaltyHistory] CHECK CONSTRAINT [FK_Penalty_Reader]
GO
ALTER TABLE [dbo].[PenaltyHistory]  WITH CHECK ADD  CONSTRAINT [FK_Penalty_User] FOREIGN KEY([CollectedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PenaltyHistory] CHECK CONSTRAINT [FK_Penalty_User]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Res_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Res_Books]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Res_Readers] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Readers] ([ReaderId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Res_Readers]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_RetDtl_Borrow] FOREIGN KEY([BorrowDetailId])
REFERENCES [dbo].[BorrowReceiptDetails] ([BorrowDetailId])
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] CHECK CONSTRAINT [FK_RetDtl_Borrow]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_RetDtl_Return] FOREIGN KEY([ReturnId])
REFERENCES [dbo].[ReturnReceipts] ([ReturnId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] CHECK CONSTRAINT [FK_RetDtl_Return]
GO
ALTER TABLE [dbo].[ReturnReceipts]  WITH CHECK ADD  CONSTRAINT [FK_Return_Borrow] FOREIGN KEY([BorrowId])
REFERENCES [dbo].[BorrowReceipts] ([BorrowId])
GO
ALTER TABLE [dbo].[ReturnReceipts] CHECK CONSTRAINT [FK_Return_Borrow]
GO
ALTER TABLE [dbo].[ReturnReceipts]  WITH CHECK ADD  CONSTRAINT [FK_Return_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ReturnReceipts] CHECK CONSTRAINT [FK_Return_Users]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RP_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RP_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RP_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RP_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Available] CHECK  (([AvailableQty]>=(0) AND [AvailableQty]<=[Quantity]))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Available]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Price]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Quantity]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Status] CHECK  (([Status]='Retired' OR [Status]='Damaged' OR [Status]='Lost' OR [Status]='OutOfStock' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Status]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Year] CHECK  (([PublishYear] IS NULL OR [PublishYear]>=(1500) AND [PublishYear]<=(2100)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Year]
GO
ALTER TABLE [dbo].[BorrowReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_BorrowDtl_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[BorrowReceiptDetails] CHECK CONSTRAINT [CK_BorrowDtl_Qty]
GO
ALTER TABLE [dbo].[BorrowReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_BorrowDtl_Returned] CHECK  (([ReturnedQty]>=(0) AND [ReturnedQty]<=[Quantity]))
GO
ALTER TABLE [dbo].[BorrowReceiptDetails] CHECK CONSTRAINT [CK_BorrowDtl_Returned]
GO
ALTER TABLE [dbo].[BorrowReceipts]  WITH CHECK ADD  CONSTRAINT [CK_Borrow_DateRange] CHECK  ((datediff(day,[BorrowDate],[DueDate])>=(1) AND datediff(day,[BorrowDate],[DueDate])<=(90)))
GO
ALTER TABLE [dbo].[BorrowReceipts] CHECK CONSTRAINT [CK_Borrow_DateRange]
GO
ALTER TABLE [dbo].[BorrowReceipts]  WITH CHECK ADD  CONSTRAINT [CK_Borrow_Due] CHECK  (([DueDate]>=[BorrowDate]))
GO
ALTER TABLE [dbo].[BorrowReceipts] CHECK CONSTRAINT [CK_Borrow_Due]
GO
ALTER TABLE [dbo].[BorrowReceipts]  WITH CHECK ADD  CONSTRAINT [CK_Borrow_Fine] CHECK  (([TotalFine]>=(0)))
GO
ALTER TABLE [dbo].[BorrowReceipts] CHECK CONSTRAINT [CK_Borrow_Fine]
GO
ALTER TABLE [dbo].[BorrowReceipts]  WITH CHECK ADD  CONSTRAINT [CK_Borrow_Status] CHECK  (([Status]='Cancelled' OR [Status]='Overdue' OR [Status]='Returned' OR [Status]='PartiallyReturned' OR [Status]='Borrowing'))
GO
ALTER TABLE [dbo].[BorrowReceipts] CHECK CONSTRAINT [CK_Borrow_Status]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notif_Recipient] CHECK  (([RecipientType]='Reader' OR [RecipientType]='User'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notif_Recipient]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notif_Type] CHECK  (([NotifyType]='System' OR [NotifyType]='Penalty' OR [NotifyType]='Reservation' OR [NotifyType]='Overdue' OR [NotifyType]='DueSoon'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notif_Type]
GO
ALTER TABLE [dbo].[PenaltyHistory]  WITH CHECK ADD  CONSTRAINT [CK_Penalty_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[PenaltyHistory] CHECK CONSTRAINT [CK_Penalty_Amount]
GO
ALTER TABLE [dbo].[PenaltyHistory]  WITH CHECK ADD  CONSTRAINT [CK_Penalty_Method] CHECK  (([PaymentMethod] IS NULL OR ([PaymentMethod]='Card' OR [PaymentMethod]='Transfer' OR [PaymentMethod]='Cash')))
GO
ALTER TABLE [dbo].[PenaltyHistory] CHECK CONSTRAINT [CK_Penalty_Method]
GO
ALTER TABLE [dbo].[Readers]  WITH CHECK ADD  CONSTRAINT [CK_Readers_Email] CHECK  (([Email] IS NULL OR [Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Readers] CHECK CONSTRAINT [CK_Readers_Email]
GO
ALTER TABLE [dbo].[Readers]  WITH CHECK ADD  CONSTRAINT [CK_Readers_Expire] CHECK  (([CardExpireDate]>=[CardIssueDate]))
GO
ALTER TABLE [dbo].[Readers] CHECK CONSTRAINT [CK_Readers_Expire]
GO
ALTER TABLE [dbo].[Readers]  WITH CHECK ADD  CONSTRAINT [CK_Readers_Gender] CHECK  (([Gender] IS NULL OR ([Gender]=N'Khác' OR [Gender]=N'Nữ' OR [Gender]=N'Nam')))
GO
ALTER TABLE [dbo].[Readers] CHECK CONSTRAINT [CK_Readers_Gender]
GO
ALTER TABLE [dbo].[Readers]  WITH CHECK ADD  CONSTRAINT [CK_Readers_Phone] CHECK  (([Phone] IS NULL OR NOT [Phone] like '%[^0-9+]%'))
GO
ALTER TABLE [dbo].[Readers] CHECK CONSTRAINT [CK_Readers_Phone]
GO
ALTER TABLE [dbo].[Readers]  WITH CHECK ADD  CONSTRAINT [CK_Readers_Status] CHECK  (([Status]='Expired' OR [Status]='Locked' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Readers] CHECK CONSTRAINT [CK_Readers_Status]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Res_Expire] CHECK  (([ExpiresAt]>[ReservedAt]))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Res_Expire]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Res_Status] CHECK  (([Status]='Cancelled' OR [Status]='Expired' OR [Status]='Fulfilled' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Res_Status]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_RetDtl_Cond] CHECK  (([Condition]='Lost' OR [Condition]='Damaged' OR [Condition]='Good'))
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] CHECK CONSTRAINT [CK_RetDtl_Cond]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_RetDtl_Fine] CHECK  (([Fine]>=(0)))
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] CHECK CONSTRAINT [CK_RetDtl_Fine]
GO
ALTER TABLE [dbo].[ReturnReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_RetDtl_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ReturnReceiptDetails] CHECK CONSTRAINT [CK_RetDtl_Qty]
GO
ALTER TABLE [dbo].[ReturnReceipts]  WITH CHECK ADD  CONSTRAINT [CK_Return_Fine] CHECK  (([TotalFine]>=(0)))
GO
ALTER TABLE [dbo].[ReturnReceipts] CHECK CONSTRAINT [CK_Return_Fine]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD  CONSTRAINT [CK_Setting_DataType] CHECK  (([DataType]='date' OR [DataType]='bool' OR [DataType]='decimal' OR [DataType]='int' OR [DataType]='string'))
GO
ALTER TABLE [dbo].[SystemSettings] CHECK CONSTRAINT [CK_Setting_DataType]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email] CHECK  (([Email] IS NULL OR [Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Email]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Phone] CHECK  (([Phone] IS NULL OR NOT [Phone] like '%[^0-9+]%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Phone]
GO
/****** Object:  StoredProcedure [dbo].[sp_Book_Delete]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7.3 Xoá sách (soft delete) -------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Book_Delete]
    @BookId    INT,
    @DeletedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (
            SELECT 1 FROM dbo.BorrowReceiptDetails d
            JOIN dbo.BorrowReceipts b ON b.BorrowId = d.BorrowId
            WHERE d.BookId = @BookId
              AND b.IsDeleted = 0
              AND b.Status IN ('Borrowing','PartiallyReturned','Overdue')
        )
            THROW 50014, N'Sách đang có người mượn, không thể xoá.', 1;

        UPDATE dbo.Books
           SET IsDeleted = 1,
               DeletedAt = SYSUTCDATETIME(),
               DeletedBy = @DeletedBy,
               Status    = 'Retired',
               UpdatedAt = SYSUTCDATETIME(),
               UpdatedBy = @DeletedBy
         WHERE BookId = @BookId AND IsDeleted = 0;

        IF @@ROWCOUNT = 0
            THROW 50015, N'Không tìm thấy sách hoặc đã bị xoá trước đó.', 1;

        INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, Description)
        VALUES (@DeletedBy, 'DELETE', 'Book', CAST(@BookId AS VARCHAR(50)), N'Xoá mềm sách');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Book_Insert]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================================================
   KHỐI 7: STORED PROCEDURE NGHIỆP VỤ
   ============================================================================= */

-- 7.1 Thêm sách --------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Book_Insert]
    @BookCode    VARCHAR(30),
    @Title       NVARCHAR(200),
    @Author      NVARCHAR(150),
    @Publisher   NVARCHAR(150) = NULL,
    @PublishYear INT = NULL,
    @CategoryId  INT,
    @Quantity    INT = 0,
    @Price       DECIMAL(12,2) = 0,
    @CreatedBy   INT = NULL,
    @NewBookId   INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (SELECT 1 FROM dbo.Books WHERE BookCode = @BookCode AND IsDeleted = 0)
            THROW 50010, N'Mã sách đã tồn tại.', 1;

        INSERT INTO dbo.Books (BookCode, Title, Author, Publisher, PublishYear,
                               CategoryId, Quantity, AvailableQty, Price, Status, CreatedBy)
        VALUES (@BookCode, @Title, @Author, @Publisher, @PublishYear,
                @CategoryId, @Quantity, @Quantity, @Price,
                CASE WHEN @Quantity > 0 THEN 'Available' ELSE 'OutOfStock' END,
                @CreatedBy);

        SET @NewBookId = SCOPE_IDENTITY();

        INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, NewValues, Description)
        VALUES (@CreatedBy, 'INSERT', 'Book', CAST(@NewBookId AS VARCHAR(50)),
                (SELECT @BookCode AS BookCode, @Title AS Title, @Author AS Author,
                        @Quantity AS Quantity, @Price AS Price
                 FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
                N'Thêm sách mới');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Book_Search]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7.4 Tìm sách nâng cao ------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Book_Search]
    @Keyword    NVARCHAR(200) = NULL,
    @CategoryId INT           = NULL,
    @Status     VARCHAR(20)   = NULL,
    @YearFrom   INT           = NULL,
    @YearTo     INT           = NULL,
    @PageIndex  INT           = 1,
    @PageSize   INT           = 50
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Skip INT = (@PageIndex - 1) * @PageSize;

    -- Tổng số bản ghi (cho phân trang)
    SELECT COUNT(*) AS TotalCount
    FROM dbo.Books b
    WHERE b.IsDeleted = 0
      AND (@Keyword    IS NULL OR b.Title    LIKE N'%' + @Keyword + N'%'
                                OR b.Author   LIKE N'%' + @Keyword + N'%'
                                OR b.BookCode LIKE       @Keyword + '%')
      AND (@CategoryId IS NULL OR b.CategoryId  = @CategoryId)
      AND (@Status     IS NULL OR b.Status      = @Status)
      AND (@YearFrom   IS NULL OR b.PublishYear >= @YearFrom)
      AND (@YearTo     IS NULL OR b.PublishYear <= @YearTo);

    -- Dữ liệu thực tế: ĐÃ BỔ SUNG FULL CỘT KIỂM TOÁN VÀ CATEGORYID
    SELECT b.BookId, b.BookCode, b.Title, b.Author, b.Publisher,
           b.PublishYear, b.CategoryId, c.CategoryName, b.Quantity, b.AvailableQty,
           b.Price, b.Status, b.RowVer,
           b.CreatedAt, b.CreatedBy, b.UpdatedAt, b.UpdatedBy, b.IsDeleted, 
           b.DeletedAt, b.DeletedBy
    FROM dbo.Books b
    JOIN dbo.Categories c ON c.CategoryId = b.CategoryId
    WHERE b.IsDeleted = 0
      AND (@Keyword    IS NULL OR b.Title    LIKE N'%' + @Keyword + N'%'
                                OR b.Author   LIKE N'%' + @Keyword + N'%'
                                OR b.BookCode LIKE       @Keyword + '%')
      AND (@CategoryId IS NULL OR b.CategoryId  = @CategoryId)
      AND (@Status     IS NULL OR b.Status      = @Status)
      AND (@YearFrom   IS NULL OR b.PublishYear >= @YearFrom)
      AND (@YearTo     IS NULL OR b.PublishYear <= @YearTo)
    ORDER BY b.Title
    OFFSET @Skip ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Book_Update]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7.2 Sửa sách (có optimistic concurrency qua @RowVer) -----------------------
CREATE   PROCEDURE [dbo].[sp_Book_Update]
    @BookId      INT,
    @Title       NVARCHAR(200),
    @Author      NVARCHAR(150),
    @Publisher   NVARCHAR(150) = NULL,
    @PublishYear INT = NULL,
    @CategoryId  INT,
    @Quantity    INT,
    @Price       DECIMAL(12,2),
    @Status      VARCHAR(20),
    @RowVer      BINARY(8),                  -- để check concurrency
    @UpdatedBy   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @OldJson NVARCHAR(MAX), @CurrentRowVer BINARY(8), @CurrentBorrowed INT;

        SELECT @OldJson = (SELECT BookCode, Title, Author, Publisher, PublishYear,
                                  CategoryId, Quantity, AvailableQty, Price, Status
                           FROM dbo.Books WHERE BookId = @BookId
                           FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
               @CurrentRowVer   = RowVer,
               @CurrentBorrowed = Quantity - AvailableQty
        FROM dbo.Books WITH (UPDLOCK, ROWLOCK)
        WHERE BookId = @BookId AND IsDeleted = 0;

        IF @CurrentRowVer IS NULL
            THROW 50011, N'Không tìm thấy sách hoặc đã bị xoá.', 1;

        IF @CurrentRowVer <> @RowVer
            THROW 50012, N'Dữ liệu đã bị người khác thay đổi. Vui lòng tải lại.', 1;

        IF @Quantity < @CurrentBorrowed
            THROW 50013, N'Số lượng mới nhỏ hơn số sách đang được mượn.', 1;

        UPDATE dbo.Books
           SET Title        = @Title,
               Author       = @Author,
               Publisher    = @Publisher,
               PublishYear  = @PublishYear,
               CategoryId   = @CategoryId,
               Quantity     = @Quantity,
               AvailableQty = @Quantity - @CurrentBorrowed,
               Price        = @Price,
               Status       = @Status,
               UpdatedAt    = SYSUTCDATETIME(),
               UpdatedBy    = @UpdatedBy
         WHERE BookId = @BookId;

        INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, OldValues, NewValues, Description)
        VALUES (@UpdatedBy, 'UPDATE', 'Book', CAST(@BookId AS VARCHAR(50)),
                @OldJson,
                (SELECT @Title AS Title, @Author AS Author, @Quantity AS Quantity,
                        @Price AS Price, @Status AS Status
                 FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
                N'Cập nhật sách');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Borrow_Create]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7.5 Lập phiếu mượn (anti race-condition) -----------------------------------
CREATE   PROCEDURE [dbo].[sp_Borrow_Create]
    @ReceiptCode VARCHAR(30),
    @ReaderId    INT,
    @UserId      INT,
    @BorrowDate  DATE,
    @DueDate     DATE,
    @Note        NVARCHAR(300) = NULL,
    @Items       dbo.BorrowItemList READONLY,
    @NewBorrowId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Đọc config động
        DECLARE @MaxAllowed INT =
            (SELECT CAST(SettingValue AS INT) FROM dbo.SystemSettings WHERE SettingKey = 'MaxBorrowPerReader');

        -- 2. Validate độc giả còn hiệu lực
        IF NOT EXISTS (
            SELECT 1 FROM dbo.Readers WITH (READCOMMITTEDLOCK)
            WHERE ReaderId = @ReaderId
              AND Status = 'Active'
              AND CardExpireDate >= @BorrowDate
              AND IsDeleted = 0
        )
            THROW 50020, N'Độc giả không hợp lệ hoặc thẻ đã hết hạn.', 1;

        -- 3. Kiểm tra giới hạn số sách (UPDLOCK + HOLDLOCK trên phiếu mượn)
        DECLARE @CurrentBorrowed INT;
        SELECT @CurrentBorrowed = ISNULL(SUM(d.Quantity - d.ReturnedQty), 0)
        FROM dbo.BorrowReceipts br WITH (UPDLOCK, HOLDLOCK)
        JOIN dbo.BorrowReceiptDetails d ON d.BorrowId = br.BorrowId
        WHERE br.ReaderId = @ReaderId
          AND br.Status IN ('Borrowing','PartiallyReturned','Overdue')
          AND br.IsDeleted = 0;

        DECLARE @RequestQty INT = (SELECT ISNULL(SUM(Quantity),0) FROM @Items);
        IF (@CurrentBorrowed + @RequestQty) > @MaxAllowed
            THROW 50021, N'Vượt quá số sách tối đa được mượn.', 1;

        -- 4. KHÓA HÀNG SÁCH bằng UPDLOCK + HOLDLOCK + ROWLOCK
        -- Đây là chốt chống race condition: 2 thủ thư cùng mượn 1 quyển sẽ tuần tự hoá
        IF EXISTS (
            SELECT 1
            FROM @Items i
            JOIN dbo.Books b WITH (UPDLOCK, HOLDLOCK, ROWLOCK) ON b.BookId = i.BookId
            WHERE b.AvailableQty < i.Quantity
               OR b.Status <> 'Available'
               OR b.IsDeleted = 1
        )
            THROW 50022, N'Một hoặc nhiều sách không đủ tồn kho hoặc không khả dụng.', 1;

        -- 5. Tạo phiếu
        INSERT INTO dbo.BorrowReceipts (ReceiptCode, ReaderId, UserId,
                                        BorrowDate, DueDate, Status, Note, CreatedBy)
        VALUES (@ReceiptCode, @ReaderId, @UserId,
                @BorrowDate, @DueDate, 'Borrowing', @Note, @UserId);

        SET @NewBorrowId = SCOPE_IDENTITY();

        INSERT INTO dbo.BorrowReceiptDetails (BorrowId, BookId, Quantity, ReturnedQty)
        SELECT @NewBorrowId, BookId, Quantity, 0 FROM @Items;

        -- 6. Trừ tồn kho
        UPDATE b
           SET b.AvailableQty = b.AvailableQty - i.Quantity,
               b.UpdatedAt    = SYSUTCDATETIME(),
               b.UpdatedBy    = @UserId
        FROM dbo.Books b
        JOIN @Items i ON i.BookId = b.BookId;

        -- 7. Audit
        INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, NewValues, Description)
        VALUES (@UserId, 'CREATE', 'BorrowReceipt', CAST(@NewBorrowId AS VARCHAR(50)),
                (SELECT @ReceiptCode AS ReceiptCode, @ReaderId AS ReaderId,
                        @BorrowDate AS BorrowDate, @DueDate AS DueDate,
                        @RequestQty AS TotalQty
                 FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
                N'Lập phiếu mượn');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Job_MarkOverdueBorrows]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================================================
   KHỐI 11: JOB SQL (gợi ý chạy hàng ngày)
   - Cần SQL Server Agent.
   - Đây là code mẫu để tạo job; chạy tay nếu chưa có Agent.
   ============================================================================= */

-- Procedure quét toàn bộ phiếu, đánh dấu quá hạn (gọi từ Agent hoặc app)
CREATE   PROCEDURE [dbo].[sp_Job_MarkOverdueBorrows]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.BorrowReceipts
       SET Status    = 'Overdue',
           UpdatedAt = SYSUTCDATETIME()
     WHERE IsDeleted = 0
       AND Status IN ('Borrowing','PartiallyReturned')
       AND DueDate < CAST(SYSUTCDATETIME() AS DATE)
       AND EXISTS (
           SELECT 1 FROM dbo.BorrowReceiptDetails d
           WHERE d.BorrowId = dbo.BorrowReceipts.BorrowId
             AND d.Quantity > d.ReturnedQty
       );

    -- Gửi notification "DueSoon" cho phiếu sắp đến hạn
    DECLARE @DueSoonDays INT =
        (SELECT CAST(SettingValue AS INT) FROM dbo.SystemSettings WHERE SettingKey = 'DueSoonDays');

    INSERT INTO dbo.Notifications (RecipientType, RecipientId, NotifyType, Title, Body)
    SELECT 'Reader', br.ReaderId, 'DueSoon',
           N'Sách sắp đến hạn trả',
           N'Phiếu ' + br.ReceiptCode + N' sẽ đến hạn trả ngày ' + CONVERT(NVARCHAR(10), br.DueDate, 23)
    FROM dbo.BorrowReceipts br
    WHERE br.IsDeleted = 0
      AND br.Status IN ('Borrowing','PartiallyReturned')
      AND DATEDIFF(DAY, CAST(SYSUTCDATETIME() AS DATE), br.DueDate) BETWEEN 0 AND @DueSoonDays
      AND NOT EXISTS (
          SELECT 1 FROM dbo.Notifications n
          WHERE n.RecipientType = 'Reader' AND n.RecipientId = br.ReaderId
            AND n.NotifyType = 'DueSoon'
            AND CAST(n.CreatedAt AS DATE) = CAST(SYSUTCDATETIME() AS DATE)
      );

    -- Dọn Reservation hết hạn
    UPDATE dbo.Reservations
       SET Status = 'Expired'
     WHERE Status = 'Pending'
       AND ExpiresAt < SYSUTCDATETIME();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Return_Create]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7.6 Trả sách ---------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_Return_Create]
    @ReturnCode  VARCHAR(30),
    @BorrowId    INT,
    @UserId      INT,
    @ReturnDate  DATE,
    @Note        NVARCHAR(300) = NULL,
    @Items       dbo.ReturnItemList READONLY,
    @NewReturnId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Validate phiếu mượn tồn tại
        IF NOT EXISTS (
            SELECT 1 FROM dbo.BorrowReceipts WITH (UPDLOCK, ROWLOCK)
            WHERE BorrowId = @BorrowId AND IsDeleted = 0
        )
            THROW 50030, N'Phiếu mượn không tồn tại.', 1;

        -- 2. Validate từng dòng trả không vượt quá số còn nợ
        IF EXISTS (
            SELECT 1
            FROM @Items i
            JOIN dbo.BorrowReceiptDetails d WITH (UPDLOCK, ROWLOCK) ON d.BorrowDetailId = i.BorrowDetailId
            WHERE d.BorrowId <> @BorrowId
               OR i.Quantity > (d.Quantity - d.ReturnedQty)
               OR i.Quantity <= 0
        )
            THROW 50031, N'Số lượng trả không hợp lệ hoặc dòng không thuộc phiếu mượn.', 1;

        DECLARE @TotalFine DECIMAL(12,2) = (SELECT ISNULL(SUM(Fine),0) FROM @Items);
        DECLARE @ReaderId  INT           = (SELECT ReaderId FROM dbo.BorrowReceipts WHERE BorrowId = @BorrowId);

        -- 3. Tạo phiếu trả
        INSERT INTO dbo.ReturnReceipts (ReturnCode, BorrowId, UserId,
                                        ReturnDate, TotalFine, Note, CreatedBy)
        VALUES (@ReturnCode, @BorrowId, @UserId, @ReturnDate, @TotalFine, @Note, @UserId);

        SET @NewReturnId = SCOPE_IDENTITY();

        INSERT INTO dbo.ReturnReceiptDetails (ReturnId, BorrowDetailId,
                                              Quantity, Condition, Fine)
        SELECT @NewReturnId, BorrowDetailId, Quantity, Condition, Fine FROM @Items;

        -- 4. Cập nhật ReturnedQty
        UPDATE d
           SET d.ReturnedQty = d.ReturnedQty + i.Quantity
        FROM dbo.BorrowReceiptDetails d
        JOIN @Items i ON i.BorrowDetailId = d.BorrowDetailId;

        -- 5. Cộng tồn kho cho sách Good/Damaged (Lost không cộng)
        UPDATE b
           SET b.AvailableQty = b.AvailableQty + x.QtyReturnable,
               b.UpdatedAt    = SYSUTCDATETIME(),
               b.UpdatedBy    = @UserId
        FROM dbo.Books b
        JOIN (
            SELECT d.BookId,
                   SUM(CASE WHEN i.Condition IN ('Good','Damaged') THEN i.Quantity ELSE 0 END) AS QtyReturnable
            FROM @Items i
            JOIN dbo.BorrowReceiptDetails d ON d.BorrowDetailId = i.BorrowDetailId
            GROUP BY d.BookId
        ) x ON x.BookId = b.BookId
        WHERE x.QtyReturnable > 0;

        -- 6. Cộng dồn tiền phạt
        UPDATE dbo.BorrowReceipts
           SET TotalFine = TotalFine + @TotalFine,
               UpdatedAt = SYSUTCDATETIME(),
               UpdatedBy = @UserId
         WHERE BorrowId = @BorrowId;

        -- 7. Cập nhật trạng thái phiếu mượn
        DECLARE @Remaining INT;
        SELECT @Remaining = SUM(Quantity - ReturnedQty)
        FROM dbo.BorrowReceiptDetails
        WHERE BorrowId = @BorrowId;

        UPDATE dbo.BorrowReceipts
           SET Status = CASE WHEN @Remaining = 0 THEN 'Returned' ELSE 'PartiallyReturned' END,
               UpdatedAt = SYSUTCDATETIME(),
               UpdatedBy = @UserId
         WHERE BorrowId = @BorrowId;

        -- 8. Ghi vào PenaltyHistory nếu có phạt
        IF @TotalFine > 0
        BEGIN
            INSERT INTO dbo.PenaltyHistory (BorrowId, ReaderId, Amount, Reason, PaidAt, CollectedBy, PaymentMethod)
            VALUES (@BorrowId, @ReaderId, @TotalFine, N'Phạt khi trả sách', @ReturnDate, @UserId, 'Cash');
        END

        -- 9. Audit
        INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, NewValues, Description)
        VALUES (@UserId, 'CREATE', 'ReturnReceipt', CAST(@NewReturnId AS VARCHAR(50)),
                (SELECT @ReturnCode AS ReturnCode, @BorrowId AS BorrowId,
                        @ReturnDate AS ReturnDate, @TotalFine AS TotalFine
                 FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
                N'Ghi nhận trả sách');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stat_BooksCurrentlyBorrowed]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================================================
   KHỐI 8: STORED PROCEDURE THỐNG KÊ
   ============================================================================= */

-- 8.1 Sách đang được mượn
CREATE   PROCEDURE [dbo].[sp_Stat_BooksCurrentlyBorrowed]
    @CategoryId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  b.BookId, b.BookCode, b.Title, b.Author,
            c.CategoryName,
            b.Quantity, b.AvailableQty,
            (b.Quantity - b.AvailableQty) AS BorrowedQty
    FROM dbo.Books b
    JOIN dbo.Categories c ON c.CategoryId = b.CategoryId
    WHERE b.IsDeleted = 0
      AND b.Status <> 'Retired'
      AND (@CategoryId IS NULL OR b.CategoryId = @CategoryId)
      AND (b.Quantity - b.AvailableQty) > 0
    ORDER BY BorrowedQty DESC, b.Title;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stat_FineRevenue]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8.4 Doanh thu tiền phạt theo thời gian
CREATE   PROCEDURE [dbo].[sp_Stat_FineRevenue]
    @FromDate  DATE,
    @ToDate    DATE,
    @GroupBy   VARCHAR(10) = 'Day'         -- Day / Month / Year
AS
BEGIN
    SET NOCOUNT ON;

    IF @GroupBy = 'Day'
        SELECT CAST(PaidAt AS DATE)            AS Period,
               COUNT(*)                        AS Transactions,
               SUM(Amount)                     AS TotalFine
        FROM dbo.PenaltyHistory
        WHERE PaidAt IS NOT NULL
          AND PaidAt >= @FromDate
          AND PaidAt <  DATEADD(DAY, 1, @ToDate)
        GROUP BY CAST(PaidAt AS DATE)
        ORDER BY Period;
    ELSE IF @GroupBy = 'Month'
        SELECT FORMAT(PaidAt,'yyyy-MM')        AS Period,
               COUNT(*)                        AS Transactions,
               SUM(Amount)                     AS TotalFine
        FROM dbo.PenaltyHistory
        WHERE PaidAt IS NOT NULL
          AND PaidAt >= @FromDate
          AND PaidAt <  DATEADD(DAY, 1, @ToDate)
        GROUP BY FORMAT(PaidAt,'yyyy-MM')
        ORDER BY Period;
    ELSE
        SELECT YEAR(PaidAt)                    AS Period,
               COUNT(*)                        AS Transactions,
               SUM(Amount)                     AS TotalFine
        FROM dbo.PenaltyHistory
        WHERE PaidAt IS NOT NULL
          AND PaidAt >= @FromDate
          AND PaidAt <  DATEADD(DAY, 1, @ToDate)
        GROUP BY YEAR(PaidAt)
        ORDER BY Period;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stat_OverdueBooks]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8.5 Sách quá hạn chi tiết (tính tiền phạt ước tính)
CREATE   PROCEDURE [dbo].[sp_Stat_OverdueBooks]
    @AsOfDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET @AsOfDate = ISNULL(@AsOfDate, CAST(SYSUTCDATETIME() AS DATE));

    DECLARE @FinePerDay DECIMAL(12,2) =
        (SELECT CAST(SettingValue AS DECIMAL(12,2))
         FROM dbo.SystemSettings WHERE SettingKey = 'FinePerDay');

    SELECT br.BorrowId, br.ReceiptCode,
           r.CardNumber, r.FullName AS ReaderName, r.Phone, r.Email,
           b.BookCode, b.Title,
           d.Quantity - d.ReturnedQty                                  AS NotReturnedQty,
           br.BorrowDate, br.DueDate,
           DATEDIFF(DAY, br.DueDate, @AsOfDate)                        AS DaysOverdue,
           DATEDIFF(DAY, br.DueDate, @AsOfDate)
              * @FinePerDay
              * (d.Quantity - d.ReturnedQty)                           AS EstimatedFine
    FROM dbo.BorrowReceipts br
    JOIN dbo.Readers r              ON r.ReaderId = br.ReaderId
    JOIN dbo.BorrowReceiptDetails d ON d.BorrowId = br.BorrowId
    JOIN dbo.Books b                ON b.BookId   = d.BookId
    WHERE br.IsDeleted = 0
      AND br.Status IN ('Borrowing','PartiallyReturned','Overdue')
      AND br.DueDate < @AsOfDate
      AND d.Quantity > d.ReturnedQty
    ORDER BY DaysOverdue DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stat_TopActiveReaders]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8.3 Top độc giả hoạt động nhiều nhất
CREATE   PROCEDURE [dbo].[sp_Stat_TopActiveReaders]
    @FromDate DATE = NULL,
    @ToDate   DATE = NULL,
    @TopN     INT  = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
           r.ReaderId, r.CardNumber, r.FullName, r.Phone,
           COUNT(DISTINCT br.BorrowId) AS TotalReceipts,
           SUM(d.Quantity)             AS BorrowCount,
           SUM(br.TotalFine)           AS TotalFinePaid,
           MAX(br.BorrowDate)          AS LastBorrowDate
    FROM dbo.Readers r
    JOIN dbo.BorrowReceipts br      ON br.ReaderId = r.ReaderId AND br.IsDeleted = 0
    JOIN dbo.BorrowReceiptDetails d ON d.BorrowId  = br.BorrowId
    WHERE r.IsDeleted = 0
      AND (@FromDate IS NULL OR br.BorrowDate >= @FromDate)
      AND (@ToDate   IS NULL OR br.BorrowDate <= @ToDate)
    GROUP BY r.ReaderId, r.CardNumber, r.FullName, r.Phone
    ORDER BY BorrowCount DESC, TotalReceipts DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stat_TopBorrowedBooks]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8.2 Top sách mượn nhiều nhất
CREATE   PROCEDURE [dbo].[sp_Stat_TopBorrowedBooks]
    @FromDate DATE = NULL,
    @ToDate   DATE = NULL,
    @TopN     INT  = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
           b.BookId, b.BookCode, b.Title, b.Author,
           c.CategoryName,
           SUM(d.Quantity)             AS BorrowCount,
           COUNT(DISTINCT br.ReaderId) AS UniqueReaders
    FROM dbo.BorrowReceiptDetails d
    JOIN dbo.BorrowReceipts br ON br.BorrowId = d.BorrowId AND br.IsDeleted = 0
    JOIN dbo.Books b           ON b.BookId    = d.BookId
    JOIN dbo.Categories c      ON c.CategoryId = b.CategoryId
    WHERE (@FromDate IS NULL OR br.BorrowDate >= @FromDate)
      AND (@ToDate   IS NULL OR br.BorrowDate <= @ToDate)
    GROUP BY b.BookId, b.BookCode, b.Title, b.Author, c.CategoryName
    ORDER BY BorrowCount DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetPermissions]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9.2 Lấy danh sách quyền của user (cho phân quyền giao diện)
CREATE   PROCEDURE [dbo].[sp_User_GetPermissions]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.PermissionId, p.PermissionCode, p.Module, p.Description
    FROM dbo.Users u
    JOIN dbo.RolePermissions rp ON rp.RoleId       = u.RoleId
    JOIN dbo.Permissions     p  ON p.PermissionId  = rp.PermissionId
    WHERE u.UserId = @UserId AND u.IsDeleted = 0 AND u.IsActive = 1
    ORDER BY p.Module, p.PermissionCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Login]    Script Date: 5/16/2026 11:25:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =============================================================================
   KHỐI 9: STORED PROCEDURE AUTHENTICATION
   ============================================================================= */

-- 9.1 Xác thực đăng nhập (kèm lockout)
CREATE   PROCEDURE [dbo].[sp_User_Login]
    @Username        VARCHAR(50),
    @PasswordHash    VARCHAR(255),     -- ứng dụng đã hash + so sánh phía client; ở đây kiểm tra match
    @IpAddress       VARCHAR(45)  = NULL,
    @UserAgent       NVARCHAR(300) = NULL,
    @ResultCode      INT OUTPUT,       -- 0=OK, 1=NotFound, 2=Locked, 3=WrongPass, 4=Inactive
    @UserId          INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @StoredHash VARCHAR(255), @IsActive BIT, @LockoutUntil DATETIME2(0),
                @FailedCount INT, @Threshold INT, @LockMinutes INT;

        SELECT @Threshold   = CAST(SettingValue AS INT) FROM dbo.SystemSettings WHERE SettingKey = 'LockoutThreshold';
        SELECT @LockMinutes = CAST(SettingValue AS INT) FROM dbo.SystemSettings WHERE SettingKey = 'LockoutMinutes';

        SELECT @UserId       = UserId,
               @StoredHash   = PasswordHash,
               @IsActive     = IsActive,
               @LockoutUntil = LockoutUntil,
               @FailedCount  = FailedLoginCount
        FROM dbo.Users WITH (UPDLOCK, ROWLOCK)
        WHERE Username = @Username AND IsDeleted = 0;

        IF @UserId IS NULL
        BEGIN
            SET @ResultCode = 1;        -- NotFound
            INSERT INTO dbo.AuditLogs (Action, EntityType, EntityId, IpAddress, UserAgent, Description)
            VALUES ('LOGIN_FAILED', 'User', @Username, @IpAddress, @UserAgent, N'Không tìm thấy tài khoản');
            COMMIT TRANSACTION;
            RETURN;
        END

        IF @IsActive = 0
        BEGIN
            SET @ResultCode = 4;        -- Inactive
            COMMIT TRANSACTION;
            RETURN;
        END

        IF @LockoutUntil IS NOT NULL AND @LockoutUntil > SYSUTCDATETIME()
        BEGIN
            SET @ResultCode = 2;        -- Locked
            COMMIT TRANSACTION;
            RETURN;
        END

        IF @StoredHash <> @PasswordHash
        BEGIN
            SET @FailedCount = @FailedCount + 1;

            UPDATE dbo.Users
               SET FailedLoginCount = @FailedCount,
                   LockoutUntil = CASE WHEN @FailedCount >= @Threshold
                                       THEN DATEADD(MINUTE, @LockMinutes, SYSUTCDATETIME())
                                       ELSE LockoutUntil END,
                   UpdatedAt = SYSUTCDATETIME()
             WHERE UserId = @UserId;

            INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, IpAddress, UserAgent, Description)
            VALUES (@UserId, 'LOGIN_FAILED', 'User', CAST(@UserId AS VARCHAR(50)),
                    @IpAddress, @UserAgent,
                    N'Sai mật khẩu, lần thứ ' + CAST(@FailedCount AS NVARCHAR(10)));

            SET @ResultCode = 3;        -- WrongPass
            COMMIT TRANSACTION;
            RETURN;
        END

        -- Đăng nhập thành công
        UPDATE dbo.Users
           SET FailedLoginCount = 0,
               LockoutUntil     = NULL,
               LastLoginAt      = SYSUTCDATETIME(),
               LastLoginIp      = @IpAddress,
               UpdatedAt        = SYSUTCDATETIME()
         WHERE UserId = @UserId;

        INSERT INTO dbo.AuditLogs (UserId, Action, EntityType, EntityId, IpAddress, UserAgent, Description)
        VALUES (@UserId, 'LOGIN', 'User', CAST(@UserId AS VARCHAR(50)),
                @IpAddress, @UserAgent, N'Đăng nhập thành công');

        SET @ResultCode = 0;            -- OK
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
USE [master]
GO
