<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!-- Windows Authentication (khuyến nghị cho môi trường dev) -->
		<add name="LibraryDb"
			 connectionString="Server=.;Database=HUST_Library_DEV;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;Application Name=LibraryApp"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

</configuration>
